*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #333;
  background: #e53935ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e35d5bee,
    #e53935cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e35d5bee,
    #e53935cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f99290;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #914948;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c60905;
}

button {
  border: none;
}
button:focus,
input:focus,
a:focus {
  outline: 1px solid #222;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.loader {
  font-size: 5rem;
  font-weight: bold;
  color: #e2e2e2;
  text-align: center;
  margin: 2rem;
}

/* Nav  */

nav {
  display: flex;
  left: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  backdrop-filter: blur(5px);
  margin: auto;
}

.logo {
  width: 200px;
  padding: 0.5rem;
  margin: 0;
}

.search {
  padding: 0.5rem 1rem;
}
.search input,
.search-btn {
  border: none;
  font-size: 1rem;
  padding: 10px;
  margin: 2px;
}

.search input {
  background: #e2e2e2;
  color: black;
}

.search-btn {
  background: red;
  color: #fff;
}

/* GRID */

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  margin: 1rem;
}

/* Card */

img {
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.card {
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  border-radius: 0.5em;
}
.card:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}
.card:hover .card-img img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  filter: blur(2px);
  opacity: 0.8;
}
.card-img {
  width: 100%;
  height: 200px;
  padding: 50% 0;

  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0.5em 0.5em 0 0;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card:hover .card-expand {
  height: 120px;
  visibility: visible;
}

.card-content {
  position: absolute;
  background: #fff;
  bottom: 0;
  padding: 20px;
}
.card-headline {
  margin: 0 0 20px 0;
  font-size: 1em;
  line-height: 1em;
}
.card-meta {
  bottom: 0;
  color: #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-meta a {
  border: 2px solid red;
  color: red;
  padding: 5px;
}
.card-meta a:hover {
  color: #fff;
  background: red;
}

.card-expand {
  height: 1px;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.like {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  nav {
    flex-direction: row;
  }
  .logo {
    width: 300px;
    margin-left: 6rem;
    padding: 0.5rem 1rem;
  }
  .search {
    margin-right: 6rem;
    padding: 0.5rem 3rem;
  }
  .search input,
  .search-btn {
    font-size: 1.2rem;
    padding: 10px;
  }

  .stories {
    margin: 2rem 6rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .card-headline {
    font-size: 1.5em;
    margin: 0 0 40px 0;
  }
}
